<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <p>2020/9/17</P>
    <ul>
      <li><a href="#">タスク投稿</a></li>
      <li><a href="#">個人タスク</a></li>
      <li><a href="#">チームタスク</a></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
